<!-- Header -->
<header id="masthead" class="site-header" style="position: relative; transform: none; background-color: #000000;">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid px-4">
            <div class="site-branding navbar-brand">
                <a href="{{ "/" | relURL }}">
                    <img src="{{ "images/main_logo_cropped.png" | relURL }}" alt="Jose Vega for Congress" style="max-width: 140px; height: auto;">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu"
                aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="main-menu">
                <ul class="navbar-nav justify-content-center">
                    {{ if not .IsHome }}
                    <li class="nav-item">
                        <a href="{{ "/" | relURL }}" class="nav-link">Home</a>
                    </li>
                    {{ end }}
                    <li class="nav-item">
                        <a href="{{ "/news/" | relURL }}" class="nav-link{{ if eq .Section "news" }} active{{ end }}">News</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "/statements/" | relURL }}" class="nav-link{{ if eq .Section "statements" }} active{{ end }}">Statements</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "/events/" | relURL }}" class="nav-link{{ if eq .Section "events" }} active{{ end }}">Events</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#policy" class="nav-link dropdown-toggle{{ if eq .Section "policy" }} active{{ end }}" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Policy Proposals</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {{ range .Site.Params.policyProposals }}
                            <li><a href="{{ .url }}" class="dropdown-item">{{ .title }}</a></li>
                            {{ end }}
                        </ul>
                    </li>
                </ul>

                <div class="d-grid gap-2 d-sm-flex text-uppercase py-2">
                    <a class="btn btn-primary" href="{{ .Site.Params.donateUrl }}" type="button">Donate</a>
                    <a class="btn btn-secondary" href="#join" role="button">Sign Up</a>
                </div>
            </div>
        </div>
    </nav>
</header>
